{#
/**
 * @file
 * Theme override for the basic structure of a single Drupal page.
 *
 * Variables:
 * - logged_in: A flag indicating if user is logged in.
 * - root_path: The root path of the current page (e.g., node, admin, user).
 * - node_type: The content type for the current node, if the page is a node.
 * - head_title: List of text elements that make up the head_title variable.
 *   May contain or more of the following:
 *   - title: The title of the page.
 *   - name: The name of the site.
 *   - slogan: The slogan of the site.
 * - page_top: Initial rendered markup. This should be printed before 'page'.
 * - page: The rendered page markup.
 * - page_bottom: Closing rendered markup. This variable should be printed after
 *   'page'.
 * - db_offline: A flag indicating if the database is offline.
 * - placeholder_token: The token for generating head, css, js and js-bottom
 *   placeholders.
 * - html_attributes: Raw HTML attributes for the <html> tag.
 *   Contains langcode and text direction.
 *
 * @see template_preprocess_html()
 */
#}
{%
    set body_classes = [
    logged_in ? 'user-logged-in',
    not root_path ? 'path-frontpage' : 'path-' ~ root_path|clean_class,
    node_type ? 'node--type-' ~ node_type|clean_class,
    db_offline ? 'db-offline',
]
%}
<!DOCTYPE html>
<html{{ html_attributes }} class="no-js">
    <head>
        <head-placeholder token="{{ placeholder_token }}">
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="icon" href="/themes/custom/wedia_webpack/favicon.ico" type="image/x-icon" />
        <title>{{ head_title|safe_join(' | ') }}</title>
        <link rel="apple-touch-icon" sizes="57x57" href="/themes/custom/wedia_webpack/src/images/favicons/apple-icon-57x57.png">
        <link rel="apple-touch-icon" sizes="60x60" href="/themes/custom/wedia_webpack/src/images/favicons/apple-icon-60x60.png">
        <link rel="apple-touch-icon" sizes="72x72" href="/themes/custom/wedia_webpack/src/images/favicons/apple-icon-72x72.png">
        <link rel="apple-touch-icon" sizes="76x76" href="/themes/custom/wedia_webpack/src/images/favicons/apple-icon-76x76.png">
        <link rel="apple-touch-icon" sizes="114x114" href="/themes/custom/wedia_webpack/src/images/favicons/apple-icon-114x114.png">
        <link rel="apple-touch-icon" sizes="120x120" href="/themes/custom/wedia_webpack/src/images/favicons/apple-icon-120x120.png">
        <link rel="apple-touch-icon" sizes="144x144" href="/themes/custom/wedia_webpack/src/images/favicons/apple-icon-144x144.png">
        <link rel="apple-touch-icon" sizes="152x152" href="/themes/custom/wedia_webpack/src/images/favicons/apple-icon-152x152.png">
        <link rel="apple-touch-icon" sizes="180x180" href="/themes/custom/wedia_webpack/src/images/favicons/apple-icon-180x180.png">
        <link rel="icon" type="image/png" sizes="192x192" href="/themes/custom/wedia_webpack/src/images/favicons/android-icon-192x192.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/themes/custom/wedia_webpack/src/images/favicons/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="96x96" href="/themes/custom/wedia_webpack/src/images/favicons/favicon-96x96.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/themes/custom/wedia_webpack/src/images/favicons/favicon-16x16.png">
        <meta name="msapplication-TileColor" content="#ffffff">
        <meta name="msapplication-TileImage" content="/themes/custom/wedia_webpack/src/images/favicons/ms-icon-144x144.png">
        <meta name="theme-color" content="#ffffff">
        <css-placeholder token="{{ placeholder_token }}">
        <js-placeholder token="{{ placeholder_token }}">
    </head>
    <body{{ attributes.addClass(body_classes) }}>
    <a href="#main-content" class="visually-hidden focusable skip-link">
        {{ 'Skip to main content'|t }}
    </a>
    {{ page_top }}
    {{ page }}
    {{ page_bottom }}
    <js-bottom-placeholder token="{{ placeholder_token }}">
    </body>
</html>
